html {
	background-color: #002602;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	color: #888;
  overflow-y: scroll; 
}
#hd {
	background-image: url(../images/header.png);
	/*background-image: url(../images/header.gif);*/
	background-repeat: no-repeat;
	height: 185px;
	padding-left: 5em;
	padding-right: 5em;
}
#bd {
	padding-left: 5em;
	padding-right: 5em;
	background-image: url(../images/body.png);
	/*-background-image: url(../images/body.gif);*/
	background-repeat: no-repeat;
	min-height:10em;
	height:100%;
	
}
ul {
	float: left;
	text-align: left;
}

ul#floorplans li a{
	display: block;
	text-decoration: none;
	background: #e0f8db;
	border-bottom: 1px solid #D6E3CA;
	padding: 0.2em;
	color: #666600;
	font: Georgia;
	letter-spacing: 0.1em;
	width:200px;
}
ul#floorplans li a:hover{
	background: #F5FFF2;
}
a:hover {
	color: #B3CFDF;
}

#gallery a {
	float: left;
}
h1,h2,h3,h4,h5,h6 {
	color: #666600;
	letter-spacing: 0.1em;
	font-family: georgia;
}
h1 {
	font-size: 170%;
}
h2 {
	font-size: 160% ;
}
h2:first-letter{
	font-size:170%;
}

h3 {
	font-size: 130%;
}
h3:first-letter{
	font-size:140%;
}
h4 {
	font-size: 110%;
}
h4:first-letter{
	font-size:120%;
}

#banner {
	padding : 1em;
	margin-left : 5em;
	text-align: center;
	background-color : #f3ffee;
	/*border : 1px dashed #dddddd;*/
	width: 50em;
	color: #666600;
	letter-spacing: 0.1em;
}

div#navigation {
	position: relative;
	top: 11em;
}
div#navigation ul li {
	float: left;
	border-top : 1px solid #80c080;
	border-bottom : 1px solid #80c080;
}
div#navigation ul li a {
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	color: #b15c11;
	border-bottom: 0px solid #D6E3CA;
	font: 140% Georgia;
	text-decoration: none;
	background: none;
}

div#navigation ul li a:hover,
div#navigation ul li a.active {
	color : #677718;
	background : #e0f8db;
}

img.frame {
	padding: 0.5em;
	padding-bottom:1em;
	border: 1px solid #DDD;
	margin: 1em;
}
ul.fillList li{
	float:left;
	display:block;
	
}
#showcase-menu{
  width:250px; 
  margin: 0 auto;
  padding-bottom: 1.5em;
  
}
#showcase-menu ul {
  display:block;
  position:relative;
}
#showcase-menu ul li{
  float:left;
}
#showcase-menu ul li a{
  padding: 0.5em 1em;
	color : #677718;
	background : #e0f8db;
  border: solid 1px #e0f8db;
	font: 120% Georgia;
}
#showcase-menu ul li a.first{
  -moz-border-radius-topleft:7px;
  -webkit-border-top-left-radius:7px;
  -moz-border-radius-bottomleft:7px;
  -webkit-border-bottom-left-radius:7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
#showcase-menu ul li a.last{
  -moz-border-radius-topright:7px;
  -webkit-border-top-right-radius:7px;
  -moz-border-radius-bottomright:7px;
  -webkit-border-bottom-right-radius:7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

#showcase-menu ul li a:hover, #showcase-menu ul li a.current {
  background:white;
	color: #b15c11;
  border: solid 1px #e0f8db;
}
.showcase img{
	margin:.2em;
	padding:none;
	color:none;
	border:none;
}
.fillList  a{
	margin:none;
	padding:none;
	color:none;
	border:none;
}
label{
	display:block;
	padding-right:2em;
}
#viewer img{
	background:white;
	padding:.5em;
	border:.1em solid #D4D4D4;
}
.loading#viewer{
	display:block;
	height:500px;
	width:500px;
	background: url(../images/spinner.gif) no-repeat center center;
}

input{
border:1px solid #3b6e22;
color:#666666;
}

label{
display:block;
margin-top:10px;
color:#555555;
}

ul#siteplan {
list-style-image: url(../images/sold.png);
list-style-type:square;
}
ul#siteplan li{
  list-style-image: url(../images/sold.png);
  list-style-type:square;
	background: #e0f8db;
	border-bottom: 1px solid #D6E3CA;
	padding-left: 0.5em;
	color: #666600;
	font: Georgia;
	letter-spacing: 0.1em;
	width:100%;
	text-align:left;
	display:block;
  height:40px;
  line-height:45px;
}
ul#siteplan li img {
  padding: 0.5em 0.5em 0 0;
}

ul#siteplan li.t {
  padding-top: 0.5em;
  height:70px;
  line-height:30px;
}

ul#siteplan img{
  float:left;
	vertical-align:center;
}
.yui-gb#faq{
	width:835px;
	background:url(../images/faqbg.gif);
}
.yui-gb#faq h4{
	padding-left:1em;
	padding-top:1em;
	padding-bottom:1em;
}
.yui-gb#faq p{
	padding-left:2em;
	padding-right:2em;
}
.yui-gb#faq ul li{
	list-style: disc inside;
	margin-top:1em;
	margin-bottom:1em;
	margin-left: 2em;
	margin-right: 2em;
}
#hd, #bd{
	behavior: url(../js/iepngfix.htc);
}
